body {
    background: rgb(228, 225, 225);
}

img {
    max-width: 80%;
    height: auto;
    border-radius: 2%;
}

.article {
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}

#contact {
    top: 0;
    right: 0vh;
    position: fixed;
    height: 5vh;
    width: 5vh;
    background-color: teal;
    cursor: pointer;
    z-index: 999;
    text-align: center;
    font-size: 3vh;
    color: crimson;
}

#profil {
    top: 5vh;
    right: 0vh;
    position: fixed;
    height: 5vh;
    width: 5vh;
    background-color: crimson;
    cursor: pointer;
    z-index: 999;
    text-align: center;
    font-size: 3vh;
    color: teal;
}

#bandeau1 {
    top: 0;
    right: -25vh;
    position: fixed;
    height: 5vh;
    width: 25vh;
    background-color: lightgrey;
    z-index: 999;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: rgba(37, 36, 36);
}

#bandeau2 {
    top: 5vh;
    right: -25vh;
    position: fixed;
    height: 5vh;
    width: 25vh;
    background-color: lightgrey;
    cursor: pointer;
    z-index: 999;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: rgba(37, 36, 36);;
}

header .navbar {
    background-color: teal;
    text-align: center;
    margin-bottom: 5vh;
}

footer .navbar {
    background-color: teal;
    text-align: center;
    margin-top: 5vh;
}

footer #mini.navbar{
    bottom: auto;
    width: 100%;
    position: absolute;
}

.onglet {
    color: rgb(37, 36, 36);
    font-weight: bold;
    font-size: 3vh;
}

.onglet:hover {
    color: rgb(228, 225, 225);
    background-color: crimson;
    text-decoration-line: none;
}

#focus {
    border-bottom-color: rgb(37, 36, 36);
    border-bottom: 4px solid;
    background-color: crimson;
    color: rgb(228, 225, 225);
}

.bloc {
    background-size: cover;
    height: 40vh;
    margin: 5vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

#relais.bloc{
    background-image : url(photos/Relais-orleanais.jpg);
}
#vous.bloc{
    background-image : url(photos/Hébergement-social.jpg);
}
#agir.bloc{
    background-image : url(photos/repa2.jpg);
}
#soutenir.bloc{
    background-image : url(photos/don.jpg);
}

.bloc table {
    height: 40vh;
    width: 100%;
    text-align: center;
    color: rgb(228, 225, 225);
    text-shadow: 3px 3px 3px rgb(29, 28, 28);
    font-weight: bold;
}

.cadre {
    height: auto;
    width: 60vh;
    text-align: center;
    box-shadow: 3px 3px 3px 3px rgb(29, 28, 28);
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.mention {
    height: auto;
    width: auto;
    text-align: center;
    box-shadow: 3px 3px 3px 2px rgba(220, 20, 60, 0.699);
    margin-top: 10vh;
    margin-bottom: 5vh;
    background-color: rgb(238, 237, 237);
}

.contact {
    height: auto;
    width: 80vh;
    text-align: center;
    box-shadow: 3px 3px 3px 2px rgba(220, 20, 60, 0.699);
    margin-bottom: 5vh;
    margin-top: 10vh;
    background-color: rgb(238, 237, 237);
}

header table {
    color: rgb(29, 28, 28);
    height: 1em;
    width: 100%;
    font-size: 5em;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(29, 28, 28);
    font-weight: bold;
}

.bloc:hover {
    box-shadow: 0 0 15px black;
}

a {
    color: rgb(29, 28, 28);
}

a.help {
    font-size: 10px;
}

a:hover {
    color: crimson;
    text-decoration-line: none;
}

.ilot {
    height: auto;
    text-align: center;
}

.bloc2 {
    background-color: lightgrey; 
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.justify {
    text-align: justify;
}

.btn {
    width: auto;
}

.btn-primary {
    background-color: teal;
    margin-top: 5vh;
    color: rgb(37, 36, 36);
    border-color: rgba(37, 36, 36, 0.5);
}

.btn-primary:hover {
    background-color: crimson;
    color: white;
    border-color: rgba(37, 36, 36, 0.5);
}

.title {
    font-weight: bold;
    color: rgb(29, 28, 28);
}

#loc.title {
    color: crimson;
    text-decoration-line: underline; 
}

.big-title {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 3vh;
    color: rgb(29, 28, 28);
}

#mention.big-title {
    color: teal;
    font-size: 4vh;
    text-shadow: none;
}

#home.home {
    color: crimson;
    font-size: 3vh;
}

.home {
    color: rgba(37, 36, 36);
    font-size: 3vh;
}

.logo {
    height: 2em;
    width: 2em;
    margin: 4px 4px 4px 4px;
}

#eye {
    cursor: pointer;
    visibility: visible;
    font-size: 4vh;
}

#eye2 {
    cursor: pointer;
    visibility: hidden;
    font-size: 4vh;
}

.com {
    color: crimson;
    cursor: pointer;
}

.justify-content-center {
    text-align: center;
    color: rgb(37, 35, 35);
}

.error {
    color: maroon;
}

.saut {
    margin-bottom: 3vh;
}

/* Info Press */

.press1 {
    background-size: cover;
    height: 20vh;
    margin: 5vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.press2 {
    background-size: cover;
    height: 20vh;
    margin: 5vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

#p1 {
    display: none;
    text-align: center;
}

#d1 {
    display: block;
    text-align: center;
}

.carousel-caption {
    color: black;
}

.item {
    height: 300px;
    width: 212px;
}


.card{
    border-radius: 4px;
    background: rgb(199, 201, 203);
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    background-image: url(photos/don2.jpg);
}

.card2{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    background-image: url(photos/don2.jpg);
    /* opacity: 0.5; */
}

.card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-img-top:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.trait {
    border-bottom: 1px dashed teal;
    margin-bottom: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
}



@media (max-width: 1510px) {
    .onglet {
        color: rgb(37, 36, 36);
        font-weight: bold;
        font-size: 2vh;
    }
} 

@media (max-width: 1180px) {
    header table {
        color: rgb(29, 28, 28);
        height: 15vh;
        font-size: 4em;
    }
} 

@media (max-width: 990px) {
    header table {
        color: rgb(29, 28, 28);
        height: 15vh;
        font-size: 3em;
    }
} 

@media (min-height: 900px) {
    footer #mini.navbar{
        bottom: 0;
    }
}