{% extends 'main/base-mini.html' %}


{% block content %}
<main>
    <div class="container-fluid cadre">
        <form action="{% url 'account:connexion'%}" method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-12 big-title">Connexion</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="form-group">
                        {{ form.username }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="form-group">
                        {{ form.password }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 error">
                    Mauvais identifiant ou mot de passe !
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary my-1">Connexion</button>
                </div>
            </div>
        </form>
        <div class="row justify-content-center">
            <div class="col-12">
                <a class="help" href="{%url 'account:inscription' %} ">CRÉER UN COMPTE</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}