{% extends 'main/base-mini.html' %}


{% block content %}

<main>
    <div class="container-fluid cadre">
        <form action="{% url 'account:inscription'%}" method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-12 big-title">Inscription</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="form-group">
                        {{ form.username }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="form-group">
                        {{ form.first_name }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="form-group">
                        {{ form.last_name }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="form-group">
                        {{ form.email }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group password">
                        {{ form.password }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <i id="eye" class="far fa-eye-slash" onclick="reveal(this.id)"></i>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <input class="btn btn-primary my-1" type="submit" value="S'inscrire">
            </div>
        </form>
    </div>
</main>

{% endblock %}