body {
    background: rgb(228, 225, 225);
}

img {
    max-width: 80%;
    height: auto;
    border-radius: 2%;
}

.article {
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}

#contact {
    top: 0;
    right: 0;
    position: fixed;
    height: 5vh;
    width: 5vh;
    background-color: teal;
    cursor: pointer;
    z-index: 999;
    text-align: center;
    font-size: 3vh;
    color: crimson;
}

#profil {
    top: 5vh;
    right: 0;
    position: fixed;
    height: 5vh;
    width: 5vh;
    background-color: crimson;
    cursor: pointer;
    z-index: 999;
    text-align: center;
    font-size: 3vh;
    color: teal;
}

#bandeau1 {
    top: 0;
    right: -25vh;
    position: fixed;
    height: 5vh;
    width: 25vh;
    background-color: lightgrey;
    cursor: pointer;
    z-index: 999;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: rgba(37, 36, 36);
}

#bandeau2 {
    top: 5vh;
    right: -25vh;
    position: fixed;
    height: 5vh;
    width: 25vh;
    background-color: lightgrey;
    cursor: pointer;
    z-index: 999;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: rgba(37, 36, 36);;
}

header .navbar {
    background-color: teal;
    text-align: center;
    margin-bottom: 5vh;
}

footer .navbar {
    background-color: teal;
    text-align: center;
    margin-top: 5vh;
}

.onglet {
    color: rgb(37, 36, 36);
    font-weight: bold;
    font-size: 3vh;
}

.onglet:hover {
    color: rgb(228, 225, 225);
    background-color: crimson;
    text-decoration-line: none;
}

#focus {
    border-bottom-color: rgb(37, 36, 36);
    border-bottom: 4px solid;
    background-color: crimson;
    color: rgb(228, 225, 225);
}

.bloc {
    background-image: url(../frontend/photos/chat.png);
    background-size: cover;
    height: 40vh;
    margin: 5vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

table {
    height: 40vh;
    width: 100%;
    text-align: center;
    color: rgb(228, 225, 225);
    text-shadow: 3px 3px 3px rgb(29, 28, 28);
    font-weight: bold;
}

header table {
    color: rgb(29, 28, 28);
    height: 1em;
    font-size: 5em;
    text-align: center;
}

.bloc:hover {
    box-shadow: 0 0 15px black;
}

a {
    color: rgb(29, 28, 28);
}

a:hover {
    color: crimson;
    text-decoration-line: none;
}

.ilot {
    height: auto;
    text-align: center;
}

.bloc2 {
    background-color: lightgrey; 
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.justify {
    text-align: justify;
}

.btn {
    width: 13vh;
}

.btn-primary {
    background-color: teal;
    margin-top: 5vh;
    color: rgb(37, 36, 36);
    border-color: rgba(37, 36, 36, 0.5);
}

.btn-primary:hover {
    background-color: crimson;
    color: white;
    border-color: rgba(37, 36, 36, 0.5);
}

.title {
    font-weight: bold;
}

#home.home {
    color: crimson;
    font-size: 3vh;
}

.home {
    color: rgba(37, 36, 36);
    font-size: 3vh;
}

.logo {
    height: 2em;
    width: 2em;
    margin: 4px 4px 4px 4px;
}


@media (max-width: 1510px) {
    .onglet {
        color: rgb(37, 36, 36);
        font-weight: bold;
        font-size: 2vh;
    }
} 

@media (max-width: 1180px) {
    header table {
        color: rgb(29, 28, 28);
        height: 15vh;
        font-size: 4em;
    }
} 

@media (max-width: 990px) {
    header table {
        color: rgb(29, 28, 28);
        height: 15vh;
        font-size: 3em;
    }
} 