{% extends 'pourvous/base.html' %}


{% block content %}

<main>
    <div class="row bloc1">
        <div class="col-8 article justify">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac semper magna. Vestibulum at
                tempor lorem. Sed velit ipsum, venenatis venenatis augue in, molestie sagittis dolor. Phasellus
                vulputate ligula a mattis rutrum. Morbi nisl mi, congue non porttitor pharetra, condimentum at
                velit. Curabitur porta ligula felis, sit amet mattis magna tempor a. Curabitur semper risus sit
                amet metus tempor rhoncus. Nullam nec felis ipsum. Nullam eu elit ex. Vivamus eget lacus vitae
                nulla blandit laoreet. Sed convallis tortor ut nibh sollicitudin elementum. Aliquam fermentum
                arcu sed accumsan finibus. Aenean quam magna, varius at ultricies ac, efficitur ut sem. Nulla
                magna quam, dapibus ac mattis ac, efficitur in purus
                In vestibulum lacus vel ante laoreet, sed euismod ex vestibulum. Vestibulum imperdiet libero
                eget nulla feugiat, eu efficitur nisi placerat. Sed eleifend cursus mollis. Nulla magna purus,
                hendrerit ac mollis eget, cursus nec sapien. Mauris vulputate vel quam et viverra. Nunc lacus
                mi, fringilla eu commodo nec, malesuada eu leo. Vestibulum ullamcorper consectetur volutpat.
                Suspendisse potenti
                Phasellus ac placerat massa, id porttitor lorem. Sed at magna orci. Ut volutpat orci quis
                vestibulum ornare. Vestibulum augue sapien, semper eget sem ac, congue placerat justo.
                Pellentesque quis justo diam. Nunc rhoncus hendrerit eros, blandit
            </div>
        </div>
        <div class="col-4 article">
            <div>
                <img src="photos/chat.png">
            </div>
        </div>
    </div>
    <div class="row bloc2">
        <div class="col-4 article">
            <div>
                <img src="photos/chat.png">
            </div>
        </div>
        <div class="col-8 article justify">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac semper magna. Vestibulum at
                tempor lorem. Sed velit ipsum, venenatis venenatis augue in, molestie sagittis dolor. Phasellus
                vulputate ligula a mattis rutrum. Morbi nisl mi, congue non porttitor pharetra, condimentum at
                velit. Curabitur porta ligula felis, sit amet mattis magna tempor a. Curabitur semper risus sit
                amet metus tempor rhoncus. Nullam nec felis ipsum. Nullam eu elit ex. Vivamus eget lacus vitae
                nulla blandit laoreet. Sed convallis tortor ut nibh sollicitudin elementum. Aliquam fermentum
                arcu sed accumsan finibus. Aenean quam magna, varius at ultricies ac, efficitur ut sem. Nulla
                magna quam, dapibus ac mattis ac, efficitur in purus
                In vestibulum lacus vel ante laoreet, sed euismod ex vestibulum. Vestibulum imperdiet libero
                eget nulla feugiat, eu efficitur nisi placerat. Sed eleifend cursus mollis. Nulla magna purus,
                hendrerit ac mollis eget, cursus nec sapien. Mauris vulputate vel quam et viverra. Nunc lacus
                mi, fringilla eu commodo nec, malesuada eu leo. Vestibulum ullamcorper consectetur volutpat.
                Suspendisse potenti
                Phasellus ac placerat massa, id porttitor lorem. Sed at magna orci. Ut volutpat orci quis
                vestibulum ornare. Vestibulum augue sapien, semper eget sem ac, congue placerat justo.
                Pellentesque quis justo diam. Nunc rhoncus hendrerit eros, blandit
            </div>
        </div>
    </div>
    <div class="row bloc1">
        <div class="col-8 article justify">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac semper magna. Vestibulum at
                tempor lorem. Sed velit ipsum, venenatis venenatis augue in, molestie sagittis dolor. Phasellus
                vulputate ligula a mattis rutrum. Morbi nisl mi, congue non porttitor pharetra, condimentum at
                velit. Curabitur porta ligula felis, sit amet mattis magna tempor a. Curabitur semper risus sit
                amet metus tempor rhoncus. Nullam nec felis ipsum. Nullam eu elit ex. Vivamus eget lacus vitae
                nulla blandit laoreet. Sed convallis tortor ut nibh sollicitudin elementum. Aliquam fermentum
                arcu sed accumsan finibus. Aenean quam magna, varius at ultricies ac, efficitur ut sem. Nulla
                magna quam, dapibus ac mattis ac, efficitur in purus
                In vestibulum lacus vel ante laoreet, sed euismod ex vestibulum. Vestibulum imperdiet libero
                eget nulla feugiat, eu efficitur nisi placerat. Sed eleifend cursus mollis. Nulla magna purus,
                hendrerit ac mollis eget, cursus nec sapien. Mauris vulputate vel quam et viverra. Nunc lacus
                mi, fringilla eu commodo nec, malesuada eu leo. Vestibulum ullamcorper consectetur volutpat.
                Suspendisse potenti
                Phasellus ac placerat massa, id porttitor lorem. Sed at magna orci. Ut volutpat orci quis
                vestibulum ornare. Vestibulum augue sapien, semper eget sem ac, congue placerat justo.
                Pellentesque quis justo diam. Nunc rhoncus hendrerit eros, blandit
            </div>
        </div>
        <div class="col-4 article">
            <div>
                <img src="photos/chat.png">
            </div>
        </div>
    </div>
    <div class="row bloc2">
        <div class="col-4 article">
            <div>
                <img src="photos/chat.png">
            </div>
        </div>
        <div class="col-8 article justify">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac semper magna. Vestibulum at
                tempor lorem. Sed velit ipsum, venenatis venenatis augue in, molestie sagittis dolor. Phasellus
                vulputate ligula a mattis rutrum. Morbi nisl mi, congue non porttitor pharetra, condimentum at
                velit. Curabitur porta ligula felis, sit amet mattis magna tempor a. Curabitur semper risus sit
                amet metus tempor rhoncus. Nullam nec felis ipsum. Nullam eu elit ex. Vivamus eget lacus vitae
                nulla blandit laoreet. Sed convallis tortor ut nibh sollicitudin elementum. Aliquam fermentum
                arcu sed accumsan finibus. Aenean quam magna, varius at ultricies ac, efficitur ut sem. Nulla
                magna quam, dapibus ac mattis ac, efficitur in purus
                In vestibulum lacus vel ante laoreet, sed euismod ex vestibulum. Vestibulum imperdiet libero
                eget nulla feugiat, eu efficitur nisi placerat. Sed eleifend cursus mollis. Nulla magna purus,
                hendrerit ac mollis eget, cursus nec sapien. Mauris vulputate vel quam et viverra. Nunc lacus
                mi, fringilla eu commodo nec, malesuada eu leo. Vestibulum ullamcorper consectetur volutpat.
                Suspendisse potenti
                Phasellus ac placerat massa, id porttitor lorem. Sed at magna orci. Ut volutpat orci quis
                vestibulum ornare. Vestibulum augue sapien, semper eget sem ac, congue placerat justo.
                Pellentesque quis justo diam. Nunc rhoncus hendrerit eros, blandit
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-1">
            <a class="btn btn-primary" href="#" role="button">Donner</a>
        </div>
    </div>
</main>


{% endblock %}