{% extends 'main/base.html' %}


{% block content %}
<div class="row navbar justify-content-center">
    <a href="{% url 'main:index' %}" class="col-1 home"><i class="fas fa-home"></i></a>
    <a href="{% url 'main:Pres' %}" class="col-2 onglet">Le Relais</a>
    <a href="{% url 'main:Vous' %}" class="col-2 onglet">Pour Vous</a>
    <a id="focus" href="{% url 'main:Agir' %}" class="col-2 onglet">Agir avec Nous</a>
    <a href="{% url 'main:Soutenir' %}" class="col-2 onglet">Nous Soutenir</a>
</div>
</header>
<main>
    <div class="row bloc1">
        <div class="col-12 article justify" style="text-align: center;">
            <div class="title">Bénévoles</div>
            <div>
                La présence et l'action des bénévoles restent au cœur du Relais Orléanais. <br /> Leur rôle se décline
                autour
                des tâches multiples, liées au restaurant social et aux services s'y rattachant :
            </div>
        </div>
    </div>
    <div class="row bloc2">
        <div class="col-4 article">
            <div>
                <img src="../../static/main/backend/photos/logoheb4.png">
            </div>
        </div>
        <div class="col-8 article justify">
            <div>
                <p><b>Cuisine</b> : épluchage de fruits et légumes, préparation d'entrées et de desserts, service du
                    petit-déjeuner et du déjeuner, vaisselle et nettoyage.
                    Réserve de produits alimentaires => gestion, tri et rangement des produits.</p>
                <p><b>Vestiaire</b> : réception et rangement des vêtements, dépannage des personnes accueillies.</p>
                <p><b>Service médical et infirmier</b> : permanences de soins, orientation.</p>
                <p><b>Restaurant</b> : Gestion de l'accueil et enregistrement des personnes pour l'accès au restaurant.
                </p>
                <p><b>Activités de loisirs</b> : ciné-club, atelier informatique, jeux de société, sorties en lien avec
                    l'association Cultures du Coeur du Loiret, ...</p>
            </div>
        </div>
    </div>
    <div class="row bloc1">
        <div class="col-8 article justify">
            <div>
                <p>Toutes ces activités s'articulent avec les salariés, dans le respect des compétences de chacun et
                    sous
                    l'autorité de la direction. Tout nouveau candidat sera reçu par un référent bénévole et pourra
                    s'intégrer à une équipe pour une période d'essai.</p>
                <p><b>L'association se réclame de la laïcité, donc areligieuse et apolitique, et exige le respect de
                        toute
                        personne (salarié, bénévole, personne accueillie) dans une attitude bienveillante et
                        humaniste.</b></p>
            </div>
        </div>
        <div class="col-4 article">
            <div>
                <img src="../../static/main/backend/photos/missions2.jpeg">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-1">
            <a class="btn btn-primary" href="{% url 'account:inscription' %}" role="button">S'INSCRIRE</a>
        </div>
    </div>
</main>


{% endblock %}