{% extends 'main/base-mini.html' %}


{% block content %}
<main>
    <div class="row justify-content-center">
        <div class="col-2 big-title">Connexion</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nom d'utilisateur">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Mot de passe">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <input class="left" name="stay-in" type="checkbox">Rester connecté
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-1">
            <a href="#"><button type="submit" class="btn btn-primary my-1">S'inscrire</button></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <a class="help" href="#">IMPOSSIBLE DE VOUS CONNECTER ?</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <a class="help" href="#">CRÉER UN COMPTE</a>
        </div>
    </div>
</main>
{% endblock %}