{% extends 'main/base-mini.html' %}


{% block content %}

<div class="container-fluid contact">
    <div class="row justify-content-center">
        <div class="big-title">Donation</div>
    </div>
    <div class="row"></br></div>
    <div class="row justify-content-center">
        <div class="col-3">
            <a target="_blank" href="../../static/main/backend/don.pdf">
                <div class="big-title com"><i class="fas fa-envelope-open"></i></div>
            </a>
        </div>
        <div class="col-3">
            <a href="mailto:service-donations@le-relais.fr">
                <div class="big-title com"><i class="fas fa-envelope"></i></div>
            </a>
        </div>
        <div class="col-3">
            <a href="https://www.paypal.com/fr/home">
                <div class="big-title com"><i class="fab fa-paypal"></i></div>
            </a>
        </div>
        <div class="col-3">
            <a href="https://www.paypal.com/fr/home">
                <div class="big-title com"><i class="fas fa-credit-card"></i></div>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3">
            <div>Courrier</div>
        </div>
        <div class="col-3">
            <div>Mail</div>
        </div>
        <div class="col-3">
            <div>PayPal</div>
        </div>
        <div class="col-3">
            <div>Carte</div>
        </div>
    </div>
    <div class="row"></br></br></div>
    <div class="row justify-content-center">
        <div id="mention" class="col-12 big-title">
            <div>Faites un don au Relais</div>
        </div>
    </div>
</div>

{% endblock %}