{% extends 'main/base.html' %}


{% block content %}
<div class="row navbar justify-content-center">
    <a id="home" href="{% url 'main:index' %}" class="col-1 home"><i class="fas fa-home"></i></a>
    <a href="{% url 'main:Pres' %}" class="col-2 onglet">Le Relais</a>
    <a href="{% url 'main:Vous' %}" class="col-2 onglet">Pour Vous</a>
    <a href="{% url 'main:Agir' %}" class="col-2 onglet">Agir avec Nous</a>
    <a href="{% url 'main:Soutenir' %}" class="col-2 onglet">Nous Soutenir</a>
</div>
</header>
<main>
    <div class="row justify-content-center">
        <div id='relais' class="col-4 bloc">
            <a href="{% url 'main:Pres' %}">
                <table>
                    <tbody>
                        <tr>
                            <td class="align-middle">LE RELAIS</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </div>
        <div id='vous' class="col-4 bloc">
            <a href="{% url 'main:Vous' %}">
                <table>
                    <tbody>
                        <tr>
                            <td class="align-middle">POUR VOUS</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div id='agir' class="col-4 bloc">
            <a href="{% url 'main:Agir' %}">
                <table>
                    <tbody>
                        <tr>
                            <td class="align-middle">AGIR</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </div>
        <div id='soutenir' class="col-4 bloc">
            <a href="{% url 'main:Soutenir' %}">
                <table>
                    <tbody>
                        <tr>
                            <td class="align-middle">SOUTENIR</td>
                        </tr>
                    </tbody>
                </table>
            </a>
        </div>
    </div>
</main>
{% endblock %}