{% extends 'main/base-mini.html' %}


{% block content %}

<main>
    <div class="row justify-content-center">
        <div class="col-2 big-title">Inscription</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Prénom">
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nom">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nom d'utilisateur">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="E-mail">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-4 col-2">
            <div class="form-group">
                <input type="password" class="form-control password" placeholder="Mot de passe">
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <input type="password" class="form-control password" placeholder="Confirmer">
            </div>
        </div>
        <form class="form-inline">
            <div class="form-group mb-3">
                <i id="eye" class="far fa-eye-slash" onclick="reveal(this.id)"></i>
            </div>
        </form>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <a class="help" href="">
                <div>Se connecter à un compte existant</div>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <button type="submit" class="btn btn-primary my-1">S'inscrire</button>
        </div>
    </div>
    </div>
</main>

{% endblock %}