{% extends 'main/base-mini2.html' %}


{% block content %}
<div class="container-fluid mention">
    <div class="row justify-content-center">
        <div class="big-title">Mention légale</div>
    </div>
    <div class="row justify-content-center">
        <div id="mention" class="big-title">Dénomination</div>
    </div>
    <div class="row justify-content-center">
        <div>Association Le Relais Orléanais</div>
    </div>
    <div class="row justify-content-center">
        <div>SIRET : 32918698500035</div>
    </div>
    <div class="row justify-content-center">
        <div>APE : 8810C</div>
    </div>
    <div class="row justify-content-center saut">
        <div>Association loi 1901 déclarée, date de création : 1984</div>
    </div>
    <div class="row justify-content-center">
        <div id="mention" class="big-title">Adresse du siège social
        </div>
    </div>
    <div class="row justify-content-center saut">
        <div>41 Faubourg Madeleine, 45000 Orléans</div>
    </div>
    <div class="row justify-content-center">
        <div id="mention" class="big-title">Directeur de la publication
        </div>
    </div>
    <div class="row justify-content-center">
        <div>Le directeur de la publication est responsable au sens de l'article 93-2 de la loi n° 82-652 du 29 juillet
            1982.</div>
    </div>
    <div class="row justify-content-centersaut saut">
        <div>Adressez toute communication au secrétariat du Relais Orléanais de préférence par courrier électronique ou
            en allant sur la page Contact (extrait de l'article 93-2 Loi n°82-652 du 29 juillet 1982 sur la
            communication audiovisuelle: Lorsque le service est fourni par une personne morale, le directeur de la
            publication est le président du directoire ou du conseil d'administration, le gérant ou le représentant
            légal, suivant la forme de la personne morale.)</div>
    </div>
    <div class="row justify-content-center">
        <div id="mention" class="big-title">Hébergeur
        </div>
    </div>
    <div class="row justify-content-center saut">
        <div>OVH, SAS au capital de 10 069 020 €, RCS Lille Métropole 424 761 419 00045, Code APE 2620Z, N° TVA : FR 22
            424 761 419, Siège social : 2 rue Kellermann - 59100 Roubaix - France.</div>
    </div>
    <div class="row justify-content-center">
        <div id="mention" class="big-title">Gestion du contenu
        </div>
    </div>
    <div class="row justify-content-center saut">
        <div>Par le secrétariat du Relais Orléanais.</div>
    </div>
    <div class="row justify-content-center">
        <div id="mention" class="big-title">Webmasters
        </div>
    </div>
    <div class="row justify-content-center">
        <div>Groupe 2 - Promo Data mars 2020.
        </div>
    </div>
    <div class="row justify-content-center">
        <div>Dumont Stéphanie, Rabu Pierre, Gouchon Benjamin, Vilbert Alexandre
        </div>
    </div>
</div>

{% endblock %}