{% extends 'main/base.html' %}


{% block content %}
<div class="row navbar justify-content-center">
    <a href="{% url 'main:index' %}" class="col-1 home"><i class="fas fa-home"></i></a>
    <a href="{% url 'main:Pres' %}" class="col-2 onglet">Le Relais</a>
    <a href="{% url 'main:Vous' %}" class="col-2 onglet">Pour Vous</a>
    <a href="{% url 'main:Agir' %}" class="col-2 onglet">Agir avec Nous</a>
    <a id="focus" href="{% url 'main:Soutenir' %}" class="col-2 onglet">Nous Soutenir</a>
</div>
</header>
<main>
    <div id="img_don" class="card2 text-center" style="width: 68rem;">
        <div class="card-body">
            <h5 class="card-title">Faire un don</h5>
            <p class="card-text">Depuis 1984, le Relais Orléanais, restaurant social, apporte une aide
                alimentaire essentielle aux personnes les plus démunies mais aussi un accompagnement social et
                médical. Le Relais Orléanais est également un lieu d’accueil de jour, temporairement un accueil
                de nuit durant la période hivernale.</p>
            <p class="card-text">Ainsi, en 2019, nous avons servi 23085 petits déjeuners (+11,4% par rapport à 2018) et
                une moyenne
                journalière de 172 déjeuners (+6,5% par rapport à 2018).
                Nous avions inscrit 1674 personnes en 2018, en 2019 il y a eu 1970 inscriptions.</p>
            <p class="card-text">Les dons et subventions nous permettent d’assurer les missions quotidiennes
                (restauration, hygiène,
                santé et social) auprès des personnes en difficultés.
                C’est pourquoi, cette année encore, afin de maintenir et d’améliorer ses services, le Relais
                Orléanais a
                besoin de vos dons, qui font l’objet d’une déduction fiscale.</p>
            <p class="card-text">Cette déduction s’élève à 75% des dons si ceux-ci ne dépassent pas 537 €. Au-delà de
                cette somme, la
                réduction d’impôt est de 66 %, dans la limite de 20% de votre revenu imposable (code général des
                impôts
                article 200)s</p>
            <a href="{% url 'main:Donation' %}" class="btn btn-primary" role="button">Donner</a>
        </div>
    </div>
</main>


{% endblock %}
