{% extends 'main/base.html' %}


{% block content %}
<div class="row navbar justify-content-center">
    <a href="{% url 'main:index' %}" class="col-1 home"><i class="fas fa-home"></i></a>
    <a href="{% url 'main:Pres' %}" class="col-2 onglet">Le Relais</a>
    <a id="focus" href=" {% url 'main:Vous' %}" class="col-2 onglet">Pour Vous</a>
    <a href="{% url 'main:Agir' %}" class="col-2 onglet">Agir avec Nous</a>
    <a href="{% url 'main:Soutenir' %}" class="col-2 onglet">Nous Soutenir</a>
</div>
</header>
<main>
    <div class="card-deck">
        <div class="card text-center">
            <img class="card-img-top mx-auto d-block" src="../../static/main/backend/photos/assiete.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">RESTAURATION</h5>
                <p class="card-text">L’alimentation est au cœur des préoccupations
                    quotidiennes. L’acte de manger va au-delà de la simple réponse au besoin de base qui se
                    manifeste par la sensation d’avoir faim. S’alimenter est l’occasion d’échanges, de lien
                    social et de convivialité. C’est un acte social par excellence.</p>
                <p class="card-text"><small class="text-muted">Le restaurant social du Relais Orléanais sert de « point
                        d’entrée » pour un premier contact,
                        puis pour une participation dans des actions très diverses de reconstruction du lien
                        social.</small></p>
            </div>
        </div>
        <div class="card text-center">
            <img class="card-img-top mx-auto d-block" src="../../static/main/backend/photos/douched.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">HYGIÈNE</h5>
                <p class="card-text">Répondre aux besoins d’hygiène et de santé (douches,
                    lessive, vestiaire, bagagerie, soins médicaux et infirmiers...</p>
                <p class="card-text">Pour des personnes adultes en
                    situation précaire, de passage ou habituées. Prendre une douche pour se réchauffer, se sentir mieux,
                    être présentables afin
                    d’effectuer des démarches administratives et de recherche d’emploi.


                </p>
                <p class="card-text"><small class="text-muted">
                        Des produits d’hygiène sont à disposition (savon, shampoing, rasoirs...) ainsi que des
                        serviettes.

                        Il fonctionne les après-midis en semaine, du lundi au
                        vendredi de 14h00 à 16h00.</small>
                </p>
            </div>
        </div>
        <div class="card text-center">
            <img class="card-img-top mx-auto d-block" src="../../static/main/backend/photos/maison.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">HÉBERGEMENT</h5>
                <p class="card-text">A la demande de la Direction Départementale de la
                    Cohésion Sociale (DDCS) et depuis 2009, le Relais Orléanais a assuré chaque soir de la
                    période hivernale, un accueil de nuit d’une capacité maximum de 15 personnes, du 1er janvier
                    au 31 mars et du 1er décembre au 31 décembre de l’année civile.</p>
                <p class="card-text"><small class="text-muted">Cet accueil permet à certaines personnes sans abri de
                        bénéficier d’une collation le soir et
                        d’être au chaud durant la période hivernale, de 22h00 à 7h30. Toutes ces personnes ont été
                        orientées au préalable par le service du 115.</small></p>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card text-center">
            <img class="card-img-top mx-auto d-block" src="../../static/main/backend/photos/doc.png"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">AIDE DÉMARCHE</h5>
                <p class="card-text">Rencontrer, sur le principe de la libre adhésion,
                    des travailleurs sociaux. Avec l’aide de ces derniers, d'entamer toutes les
                    démarches nécessaires, destinées à la reconnaissance des droits de chacun.</p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
        <div class="card text-center">
            <img class="card-img-top mx-auto d-block" src="../../static/main/backend/photos/livre.png"
                alt="Card image cap">
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">ACTIVITÉS</h5>
                <p class="card-text">Des activités sont proposées afin de favoriser l’émergence et le développement des
                    capacités individuelles ainsi que le rétablissement du lien social, par la mise en
                    œuvre et l’animation d’activités dans la journée
                </p>
                <p class="card-text"><small class="text-muted"></small>
                </p>
            </div>
        </div>
    </div>


    {% endblock %}
